.category {
  background-color: white;
}

.category_click {
  background-color: yellow;
}

.word {
}

.word_click {
  border: solid;
  border-color: green;
  border-width: 1px;
}

.done {
  background-color: transparent;
  color: green;
}
