.word_h {
  background-color: yellow;
  border-top: solid;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
}

.word_left {
	border-left: solid;
	border-width: thin;
	border-color: black;
}

.word_right {
	border-right: solid;
	border-width: thin;
	border-color: black;
}

.category {
  background-color: white;
}

.category_click {
  background-color: yellow;
}

.done:hover {
  background-color: yellow;
}
